@model Tennis.ViewModels.PlayerViewModel

@{
    ViewData["Title"] = "Player";

    var player = Model.Player;
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Player @player.FirstName @player.LastName Added</h2>
        
        <a asp-controller="Player" asp-action="GetPlayer" asp-route-playerId="@player.PlayerId">Profile</a>
    </div>
</div>