@{
    ViewData["Title"] = "Home";
}

<div class="row" style="margin-top: 20px;">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="jumbotron">
            <h1><a asp-controller="Player" asp-action="GetPlayers">Players</a></h1>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="jumbotron">
            <h1><a asp-controller="Competition" asp-action="GetCompetitions">Competitions</a></h1>
        </div>
    </div>
</div>
