@model Tennis.ViewModels.Competitions.CompetitionCollectionViewModel
@{
    ViewData["Title"] = "Competitions";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Competitions</h2>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul>
                    @foreach (var competition in Model.Competitions)
                    {
                        <li><a asp-controller="Competition" asp-action="GetCompetition" asp-route-competitionId="@competition.CompetitionId">@competition.Name</a></li>
                    }
                </ul>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a class="btn btn-primary" asp-controller="Competition" asp-action="AddCompetition">Add Competition</a>
                </div>
            </div>
        }
    </div>
</div>