@model Tennis.ViewModels.CompetitionCollectionViewModel
@{
    ViewData["Title"] = "Competitions";
}

<div class="row">
    <h1>Competitions</h1>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            @foreach (var competition in Model.Competitions)
            {
                <li>@competition.Name</li>
            }
        </ul>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a asp-controller="Competition" asp-action="AddCompetition">Add Competition</a>
        </div>
    }
</div>